name: meetlens
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.5.1
  web_socket_channel: ^3.0.1
  record: ^6.1.2
  permission_handler: ^11.3.1
  uuid: ^4.3.3
  http: ^1.2.1
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
